<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\log.txt"
        
        >

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>S

    <target name="database"
            xsi:type="Database"
            dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"
            connectionString="${gdc:connectionString}"
            >
      <commandText>
        insert into APIROUTER_TLogsSCloud
        (levellog , callsite, typeerror, message, stacktrace, information, datainput, dataoutput, processedrecords, timeproces, client, app, validarerror)
        VALUES(:L_level,:L_callSite,:L_type,:L_message,:L_stackTrace,:L_information,:L_dataInput,:L_dataOutput,:L_processedRecords,:L_timeProces,:L_client,:L_app,:L_validarError)
      </commandText>

      <parameter name=":L_level" layout="${level}" />
      <parameter name=":L_callSite" layout="${callsite}" />
      <parameter name=":L_type" layout="${exception:format=type}" />
      <parameter name=":L_message" layout="${exception:format=message}" />
      <parameter name=":L_stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name=":L_information" layout="${message}" />
      <parameter name=":L_dataInput" layout="${gdc:DataInput}" />
      <parameter name=":L_dataOutput" layout="${gdc:DataOutput}" />
      <parameter name=":L_processedRecords" layout="${gdc:ProcessedRecords}" />
      <parameter name=":L_timeProces" layout="${gdc:TimeProces}" />
      <parameter name=":L_client" layout="${gdc:client}" />
      <parameter name=":L_app" layout="${gdc:App}" />
      <parameter name=":L_validarError" layout="${gdc:ValidarError}" />
    </target>

    <!--<target name="logfile" xsi:type="File" fileName="c:\temp\nlog-AspNetCore-all.txt" layout="${longdate} - ${uppercase:${level}} - ${message}" />
    <target name="logconsole" xsi:type="Console" />-->


  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="logfile" />-->
    <!--<logger name="*" minlevel="Error" writeTo="database" />-->
    <logger name="*" minlevel="Error" writeTo="database" />
    <logger name="*" minlevel="Info" writeTo="database" />
    <logger name="*" minlevel="Trace" writeTo="database" />
    <!--<logger name="*" minlevel="Trace" writeTo="database" />-->
    <!--<logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="logfile" />-->

  </rules>
</nlog>